header {
    color: #fff;
    background: url("img/album-covers.jpg") 0 -20px repeat;
}

    header h1 {
        margin: 30px 0;
    }


.btn-show-modal {
    margin: 20px 0;
}
.panel-body img{

}
.album-info{
    padding-left: 20px;
}
